<img src=https://desafiolatam.com/assets/home/logo-academia-bla-790873cdf66b0e681dfbe640ace8a602f5330bec301c409744c358330e823ae3.png>

   ###### Nombre Alumno: Ramiro Silva   
   ###### Generación: G48
   ###### Profesores: Geanina Salomó  /  Gonzalo Peña
   ###### Fecha : 18-08-2022

<img src="prueba.png" width="900" height="900"/>

<img src="condiciones_generales.png" width="900" height="900"/>

<img src="puntuacion_y_correccion.png" width="900" height="900"/>

<img src="condiciones_generales.png" width="900" height="900"/>

# Hito 1 Determinantes del ingreso

<img src="determinantes_del_ingreso.png" width="900" height="900"/>

## Descripción de la DB


<p> Para desarrollar este desafío se debe utilizar la base de datos income-db.csv. </p>

<p> Las variables que componen esta base se detallan a continuación: </p>

- `age`: Edad del individuo.

- `workclass`: Naturaleza de la organización que emplea al individuo.

- `education`: Nivel educacional del individuo:Bachelors (Licenciado), Some-college
(Superior incompleta), 11th (3ro medio), HS-grad (Secundaria completa), Prof-school
(Escuela profesional), Assoc-acdm (Técnico superior administrativo) , Assoc-voc
(Técnico superior vocacional), 9th (1ro medio), 7th-8th (7mo-8vo), 12th (4to medio),
Masters (Maestría de postgrado), 1st-4th (1ro-4to básico), 10th(2do medio),
Doctorate (Doctorado), 5th-6th (5to-6to), Preschool (Preescolar).

- `capital-gains`: Ingresos generados por inversiones fuera del trabajo asalariado =
Ingresos generados por inversiones fuera del trabajo asalariado.

- `capital-losses`: Pérdidas generadas por inversiones fuera del trabajo asalariado.
- `fnlwgt`: Ponderador muestral.

- `marital-status`: Estado civil del individuo: Married-civ-spouse (Casado/a régimen
civil), Divorced (Divorciado/a), Never-married (Soltero/a), Separated (Separado/a),
Widowed (Viudo/a), Married-spouse-absent (Casado con esposo/a ausente),
Married-AF-spouse (Casado/a régimen castrense).

- `occupation`: Ocupación del individuo: Tech-support (Soporte técnico), Craft-repair
(Reparaciones), Other-service (Otros servicios), Sales (Ventas), Exec-managerial
(Ejecutivo administrativos), Prof-specialty (Profesores), Handlers-cleaners (Aseo y
ornato), Machine-op-inspct (Inspectores de maquinarias), Adm-clerical
(Administrativos servicio al cliente), Farming-fishing (Pesca-ganadería),
Transport-moving (Transporte), Priv-house-serv (Asesor del hogar), Protective-serv
(servicios de seguridad), Armed-Forces (Fuerzas armadas).

- `relationship`: Relación respecto a su familia Wife(Esposa), Own-child (hijo único),
Husband (Esposo), Not-in-family (No pertenece a la familia), Other-relative (Familiar
de otro tipo), Unmarried (Soltero).

- `race`: Raza del encuestado White(Blanco caucásico), Asian-Pac-Islander (Isleño del
Asia Pacífico), Amer-Indian-Eskimo (Pertenenciente a pueblos originarios), Other
(Otro grupo), Black (Afroamericano).

- `sex`: Sexo del encuestado.

- `hours-per-week`: Cantidad de horas trabajadas por semana.

- `native-country`: País de origen. United-States, Cambodia, England, Puerto-Rico,
Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China,
Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal,
Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary,
Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago,
Peru, Hong, Holand-Netherlands.

- `income`: <=50K Si el individuo percibe ingresos inferiores a 50.000 dólares anuales,
>50K si el individuo percibe ingresos superiores a 50.000 dólares anuales. Este es su
vector objetivo.

In [11]:
#Se revisa el df

import pandas as pd
import numpy as np

df = pd.read_csv("income-db.csv")

df.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [23]:
#Se revisa la cantidad de registros y series que tiene el df

df.shape

(45222, 15)

In [22]:
for colname, colserie in df.iteritems():
    print(f"{colname} = {colserie.dtype}")

age = int64
workclass = object
fnlwgt = int64
education = object
educational-num = int64
marital-status = object
occupation = object
relationship = object
race = object
gender = object
capital-gain = int64
capital-loss = int64
hours-per-week = int64
native-country = object
income = object

In [14]:
#Se revisa de que tipo son las series que tenemos en el df

df["age"] = df["age"].replace(["?"], [np.nan])
df["workclass"] = df["workclass"].replace(["?"], [np.nan])
df["education"] = df["education"].replace(["?"], [np.nan])
df["fnlwgt"] = df["fnlwgt"].replace(["?"], [np.nan])
df["educational-num"] = df["educational-num"].replace(["?"], [np.nan])
df["marital-status"] = df["marital-status"].replace(["?"], [np.nan])
df["occupation"] = df["occupation"].replace(["?"], [np.nan])
df["relationship"] = df["relationship"].replace(["?"], [np.nan])
df["race"] = df["race"].replace(["?"], [np.nan])
df["gender"] = df["gender"].replace(["?"], [np.nan])
df["capital-gain"] = df["capital-gain"].replace(["?"], [np.nan])
df["capital-loss"] = df["capital-loss"].replace(["?"], [np.nan])
df["hours-per-week"] = df["hours-per-week"].replace(["?"], [np.nan])
df["native-country"] = df["native-country"].replace(["?"], [np.nan])
df["income"] = df["income"].replace(["?"], [np.nan])


df.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K

In [15]:
df.isnull().sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [18]:
#Se eliminan los registros con valores nan de 48842 a 45222, lo que equivale eliminar un total de 3620 registros un 7%
df = df.dropna()

df.shape

(45222, 15)

# Preliminares

## Descripción del problema




Para el caso de "Determinantes del ingreso" se considera que el Vector Objetivo es la variable "Income" la cual es una variable dicotomica,  personas que tienen ingresos mayores a 50.000 y menos o iguales a 50.000 dólares anuales.

Ya teniendo en cuenta el Vector objetivo es una variable dicotomica y además que ya se sabe a priori los resultados del vector en estudio, se descarta una regresión lineal y se opta por un modelo de clasificación de machine learning supervisado.

Para el modelo logistico al contar un df con muchos registros alrededor de 48.000 se falicitará a la hora de dividar el df para entrenar el modelo y para realizar el test.

Finalmente como se trata de un modelo de machine learning lo que se busca es que el error a la hora de predecir sea el minimo.
Para lo anteriormente utilizado se utilizarán las metricas: Matriz de confusión, Recall, F1, Acurrancy y la Curva ROC.

# Aspectos Computacionales


Para el desarrollo de la regresión lineal se deben considerar las siguientes librerías

**import pandas as pd** # Es una librería orientada a la manipulación y limpieza de estructuras de datos.                       
**import numpy as np**  # Es una librería orientada a la computación científica.                                               
**import scipy.stats as stats** # Esta librería contiene un y nos ayuda a generar distribuciones

**import matplotlib.pyplot as plt**   # Esta librería nos ayudará a generar gráficos.  
**import seaborn as sns** # Esta librería podremos generar gráficos elegantes y se complementa con matplotlib.

**import scipy.stats as stats**  # Es una libreria que sirve para simular y generar distribuciones.                             
**from sklearn.preprocessing import LabelEncoder** # Es una librería y podremos recodificar variables.                         
**from sklearn.model_selection import train_test_split** # Generamos los subset para entrenamiento y testeo del modelo.         
**from sklearn.preprocessing import StandardScaler** # Esta librería nos sirve para estendarizar datos. 
**from sklearn.metrics import confusion_matrix** # Esta librería nos sirve para generar la matriz de confusión, una metrica.   


**import statsmodels.api as sm**   # podremos generar un modelo                                                                 
**import statsmodels.formula.api as smf**  #  librería que sirve para crear modelos Logistico o Regresion 

**import warnings**  # Esta es una librería que muestra los warning.                                                           
**warnings.filterwarnings("ignore", category=DeprecationWarning)** # con esto se evita que genere warnings de metodos o funciones desactualizadas.